body{
  background-color: cyan;



}
hr{
  border-color: CadetBlue;
  border-style: none;
  border-top-style: dashed;
  border-width: 10px;

  width: 20%;
}

h1{
  color: Navy;
}

h2{
  color: Navy;
}

p{
  font-size: 14pt;
  color: MidnightBlue;
  line-height: 200%;
}

a:link {
  text-decoration: none;
  color: MidnightBlue;
}


a:visited {
  text-decoration: none;
  color: MidnightBlue;

}


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

table{
  line-height: 200%;
  font-size: 14pt;
  color: MidnightBlue;
}

ul{
  color: MidnightBlue;
  list-style-type: square;
}
