body{
  background-color: DimGray;
}

hr{
  border-style: none;
  border-top: 5px dotted white;
  width: 10%;
}

h1{
  color: Cyan;
}

h3{
  color: #66BFBF;
}

img{
  border-radius: 50%
}

img:hover{
  height: 250px;
}
